body {
    background-color:#d8a6cb;
    color: 	#AA336A;
    font-family: '𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    transition: background 1.5s ease;
}

#quiz {
    max-width: 600px;
    background: #9996cb;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px #f3f3f3;
    text-align: center;
    z-index: 2;
    position: relative;
    transition: transform 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.4s ease, background 0.5s ease;
}

.sumir-quiz {
    transform: scale(0.3) rotate(-5deg) !important; 
    opacity: 0 !important;                       
}

h2 {
    font-size: 1.1rem;
    color: #AA336A;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #f3f3f3;
}

.pergunta {
    margin-bottom: 25px;
    text-align: left;
    background: 	#d8a6cb;
    padding: 15px;
    border-radius: 8px;
}

.pergunta p {
    font-weight: bold;
    margin-top: 0;
}

.opcao {
    display: block;
    width: 100%;
    background: #9996cb;
    color: white;
    border: none;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    transition: background 0.3s, transform 0.1s;
}

.opcao:hover {
    background: #ffffff9a;
    transform: translateX(5px);
}

.opcao:active {
    background: #666666;
}

.imagem-absoluto {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: 100;
  pointer-events: none;
}


.topo-esquerda {
  top: -30px;
  left: -30px;
}

.topo-direita {
  top: -200px;
  right: -200px;
}

.baixo-esquerda {
  bottom: -200px;
  left: -200px;
}

.baixo-direita {
  bottom: -100px;
  right: -100px;
}